/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Bebas';
}

html {
    font-size: 10px;
}

body {
    background: url(../img/background.png);
}

.container {
    padding: 0px 10px;
    max-width: 940px;
    background: url(../img/background.png);
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    margin-top: 0px;

}

h2 {
    font-size: 2.4rem;
    color: #fff;
}

section h3 {
    color: #ea5c36;
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
    color: #b9b9b9;
}

h5 {
    font-size: 1.4rem;
    color: #e8603c;
}

a {
    text-decoration: none;
}

p {
    font-family: Helvetica;
    font-size: 1.2rem;
}


/* ==========================================
                    Grid
   ========================================== */

.grid {
    overflow: hidden;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.6666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

[class*='col-'] {
    float: left;
}

/* ==========================================
                    Header
   ========================================== */

header {
    padding-top: 18px;
    min-height: 70px;
}

header h1 {
    float: left;
    font-size: 3.6rem;
    color: #e8603c;
}

header h1 span {
    color: #f3af9d;
}


header nav {
    margin-top: 15px;
    float: right;
}

header nav li {
    margin-left: 15px;
    display: inline-block;
}

header nav li a {
    font-size: 1.6rem;
    color: #b9b9b9;
}

header .active {
    color: #e8663c;
}


/* ==========================================
                Main
   ========================================== */

main {
    position: relative;
    width: 100%;
    height: 61px;
    background: #f3af9d;
}

.page-title {
    width: 940px;
    margin: 0 auto;
    height: 61px;
    background: #e8603c;
}

.page-title h2 {
    padding: 15px 0px 0px 15px;
}

section.contents {
    max-width: 69.36170213%;
    float: left; 
    padding-right: 7.2340426%;
    overflow: hidden;
}

                                                /* ==========================================
                                                                       Home=page
                                                ========================================== */

/* ==========================================
                Slide-show
   ========================================== */

section.slide-show {
    background: url(../img/slider.jpg) no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 401px;
    position: relative;
    margin-bottom: 17px;
}

.slide-show .sliderleft {
    position: absolute;
    left: 0px;
    top: 160px;
}

.slide-show .sliderright {
    position: absolute;
    right: 0px;
    top: 160px;
}

.slide-show-text {
    background: #e8663c;
    opacity: 0.8;
    max-width: 43.9361702%;
    height: 124px;
    position: absolute;
    bottom: 32px;
    left: 36px;
    color: #fff;
}

.slide-show-text h2, .slide-show-text p {
    margin: 20px 20px;
}

/* ==========================================
               Thumbs
   ========================================== */

section.thumb {
    overflow: hidden;
}

section.thumb .col-2 {
    margin-right: 3.3px;
}

section.thumb .col-2:last-of-type {
    margin-right: 0px;
    width: 140px;
}

/* ==========================================
               Blog
   ========================================== */

section.blog {
    margin: 40px 0px 30px 0px;
    padding-bottom: 10px;
    overflow: hidden;

}

section.blog .div-blog {
    max-width: 29.361702127%; /*276px*/
    float: left;
    margin-right: 5.95745%;
}

section.blog .div-blog:last-of-type {
    margin-right: 0%;
}

.div-blog img {
    float: left;
    margin: 0px 22px 30px 0px;
}

.div-blog h3 {
    margin: 0px 0px 30px 0px;
}

.div-blog p {
    margin-bottom: 20px;
}

.div-blog a {
    padding: 8px 18px;
    background: #ea5c36;
    color: #ffe5e5;
    font-size: 1.2rem;
}

/* ==========================================
                Recent works
   ========================================== */

section.recent-works {
    overflow: hidden;
}

section.recent-works h3 {
    float: left;
    margin-bottom: 0px;
}

.recent-works-background {
    background: url(../img/shade.gif);
    height: 19px;
    max-width: 85.74468%;
    margin: 0px 0px 7px 150px;
}

.recent-works-content {
    float: left;
    margin: 20px 20px 0px 0px;
}

.recent-works-content:last-of-type {
    margin-right: 0px;
}

.recent-works-text {
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.recent-works-text p {
    margin-top: 5px;
    color: #e8663c;
    font-size: 1.1rem;
    font-family: 'Bebas';
}


                                                /* ==========================================
                                                                       Home=page
                                                ========================================== */

/* ==========================================
                About us
   ========================================== */

img.me {
    float: left;
    margin-right: 2.765958%;
    margin-top: 28px;
}

p.about-us {
    margin-top: 28px;
    font-size: 1.2rem;
    color: #414141;
}    
    
.about-us span {
    font-weight: bold;
    font-size: 3.6rem;
    float: left;
    color: #e8603c;
    font-family: Helvetica;
    height: 20px;
    line-height: 33px;
}

.blog-quote {
    font-size: 1.2rem;
    font-style: italic;
    color: #7f7f7f;
    width: 580px;
    float: right;
    padding-left: 19px;
    border-left: 8px solid #e8663c;
}

.contents .grid {
    padding-top: 32px;
    clear: both;
}

.contents .grid [class*='col-'] p {
    padding: 0px 10px; 
}

.alert-text {
    max-width: 100%;
    height: 60px;
    margin-top: 18px;
}

.alert-text p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
}

.green {
    color: #98c601;
    background: #effeb9;
    border: 1px solid #98c601;
}

.red {
    color: #eb5439;
    background: #fbcbc1;
    border: 1px solid #eb5439;
}

.orange {
    color: #fab418;
    background: #ffe9ad;
    border: 1px solid #fab418;
}

.blue {
    color: #4d8fcb;
    background: #d1e4f3;
    border: 1px solid #4d8fcb;
}

/* ==========================================
                Aside
   ========================================== */

aside {
    float: left;
    width: 220px;
    margin-top: 28px;
}

.aside-div {
    margin-bottom: 28px;
    overflow: hidden;
}

.aside-div h5 {
    width: 45%;
    float: left;
    margin-bottom: 21px;
}

.aside-border {
    background: url(../img/shade.gif);
    height: 19px;
    width: 55%;
    float: right;
    margin-bottom: 21px;
}

.aside-div ul, .aside-div a {
    list-style-type: none;
    color: #414141;
    font-size: 1.2rem;
    font-family: Helvetica;
}

.photo-boxes {
    height: 48px;
    width: 48px;
    background: #f3af9d;
    border: 1px solid #e8603c;
    float: left;
    margin: 0px 6px 6px 0px;
}

.photo-boxes:last-of-type, .photo-boxes:nth-child(6) {
    margin-right: 0px;
}

/* ==========================================
                Footer
   ========================================== */
footer {
    height: 271px;
    max-width: 100%;
    background: #f3af9d;
    margin-top: 48px;
}


footer .content {
    background: #e8663c;
    max-width: 100%;
    padding-bottom: 20px;
}

footer .col-3 {
    max-width: 26.9503546%;
    padding: 0px 30px 0px 30px;
    font-size: 1.2rem;
    color: #ffffff;
}

footer .col-3 h2 {
    margin: 39px 0px 11px 0px;
}

footer .col-3 p {
    margin-top: 17px;
}

footer .col-3 a {
    color: #f3b29d;
    font-size: 1.2rem;
    font-family: Helvetica;
}

footer .col-3 .time {
    margin-top: 8px;
    color: #f3b29d;
}

footer .col-3 .contact-text {
    margin: 0px 0px 15px 0px;
}

footer .col-3 img {
    margin-right: 4px;
}

/* ==========================================
                Media Queries
   ========================================== */
@media only screen and (max-width : 976px) {

    section.thumb .grid {
        padding-left: 10.6382979%;
        margin: 0 auto;
    }

    .col-sm-3 {
        width: 33.333333333%;
        margin-bottom: 20px;
    }

    section.thumb .col-sm-3:last-of-type, section.thumb .col-sm-3:nth-child(3) {
        width: 140px;
    }
}


@media only screen and (max-width : 959px) {

    section.slide-show {
        height: 400px;
    }

    .slide-show .sliderleft {
        position: absolute;
        left: 0px;
        top: 140px;
    }

    .slide-show .sliderright {
        position: absolute;
        right: 0px;
        top: 140px;
    }

    .slide-show-text {
        max-width: 100%;
        height: 90px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 10px 10px 0px 10px;
    }

    .slide-show-text h2{
        margin: 10px 20px 0px 20px;
    }

    .slide-show-text p {
        margin: 0px 0px 0px 20px;
    }

    section.blog h3 {
        height: 75px;
    }

    .recent-works-container {
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    section.recent-works .recent-works-content {
        margin: 0px 8% 20px 8%;
    }

    footer .col-3 {
    max-width: 40%;
    }
}


@media only screen and (max-width : 740px) { 

    .recent-works-container {
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    section.recent-works .recent-works-content {
        margin: 0px 5% 20px 5%;
    }

    footer .col-3 {
    max-width: 90%;
    margin: 0 auto;
    float: none;
    }
}

@media only screen and (max-width : 635px) {
    section.slide-show {
        height: 280px;
        margin-bottom: 100px;
    }
    
    .slide-show .sliderleft {
        position: absolute;
        left: 0px;
        top: 80px;
    }

    .slide-show .sliderright {
        position: absolute;
        right: 0px;
        top: 80px;
    }

    .slide-show-text {
        max-width: 100%;
        height: 90px;
        position: absolute;
        top: 250px;
        left: 0px;
    }
    
    section.thumb .grid {
        padding-left: 3.6382979%;
        margin: 0 auto;
    }


    section.blog {
        padding-top: 20px;
        width: 80%;
        margin: 0 auto;
    }
    
    section.blog .div-blog {
        float: none;
        max-width: 100%;
        margin-bottom: 50px;
    }

    section.blog .div-blog h3 {
        height: 50px;
        margin-bottom: 5px;
    }

    section.blog .div-blog img {
        margin-bottom: 5px;

    }

    section.blog .div-blog p {
        width: 90%;
    }
}

@media only screen and (max-width : 570px) {

    .recent-works-container {
        max-width: 50%;
    }

    section.recent-works .recent-works-content {
        margin: 0px 5% 20px 5%;
    }
}

@media only screen and (max-width : 496px) {

    section.slide-show {
        height: 240px;
    }

    .slide-show .sliderleft {
        position: absolute;
        left: 0px;
        top: 50px;
    }

    .slide-show .sliderright {
        position: absolute;
        right: 0px;
        top: 50px;
    }

    .slide-show-text {
        height: 100px;
        position: absolute;
        top: 190px;
        left: 0px;
    }

    .slide-show-text h2{
        margin: 10px 20px;
    }

    section.thumb .grid {
        margin-left: 20px;
    }

    section.thumb .col-sm-3 {
        float: left;
        margin: 5px;
        width: 140px;
    }

    section.recent-works {
        float: none;
    }

    section.recent-works .recent-works-container {
        margin-left: 0px;
        max-width: 100%;
        margin-left: 40px;
    }
}

@media only screen and (max-width : 431px) {
    section.slide-show {
        height: 150px;
    }

    section.thumb .grid {
        margin-left: 0px;
    }

    
    section.thumb .col-sm-3 {
        width: 140px;
        margin: 1px;
    }

    section.blog .div-blog h3 {
        height: 80px;
    }
}
/* ==========================================
                Fonts
   ========================================== */

@font-face {
  font-family: 'Bebas';
  src: url('../font/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),  url('../font/Bebas/Bebas.woff') format('woff'), url('../font/Bebas/Bebas.ttf')  format('truetype'), url('../font/Bebas/Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
